<div class="section-holder text-white-50 section-list  d-flex flex-column justify-content-center ">
  <div class="p-4 row d-flex flex-column justify-content-center align-items-center" [routerLink]="['/home/general/0']">
    <i class="fas fa-bolt"></i>
  </div>
  <div class="p-4 row d-flex flex-column justify-content-center align-items-center" [routerLink]="['/home/business/0']">
    <i class="fas fa-business-time"></i>
  </div>
  <div class="p-4 row d-flex flex-column justify-content-center align-items-center" [routerLink]="['/home/entertainment/0']">
    <i class="fas fa-theater-masks    "></i>
  </div>
  <div class="p-4 row d-flex flex-column justify-content-center align-items-center" [routerLink]="['/home/health/0']">
    <i class="fa fa-stethoscope" aria-hidden="true"></i>
  </div>
  <div class="p-4 row d-flex flex-column justify-content-center align-items-center" [routerLink]="['/home/science/0']">
    <i class="fas fa-microscope    "></i>
  </div>
  <div class="p-4 row d-flex flex-column justify-content-center align-items-center" [routerLink]="['/home/sports/0']">
    <i class="fas fa-futbol    "></i>
  </div>
  <div class="p-4 row d-flex flex-column justify-content-center align-items-center" [routerLink]="['/home/technology/0']">
    <i class="fa fa-microchip" aria-hidden="true"></i>
  </div>
</div>