<ng-container *ngIf="!loading; else elseTemplate" class="w-100">
    <section class="home p-0 m-0">
        <div class="row p-0 m-0">
          <div class="col-3 bg-dark">
              <div class="row ">
                  <div class="col-lg-2 bg-darkest p-0 m-0">
                      <app-sections></app-sections>
                    </div>
                    <div class="col-lg-10 p-0 m-0">
                      <app-menu [articles]="articles"></app-menu>
                    </div>
              </div>
          </div>
          <div class="col-9 p-0 m-0 bg-darker">
            <app-article [articles]="articles"></app-article>
          </div>
        </div>
      </section>
</ng-container>
<ng-template #elseTemplate>
 <app-loading></app-loading>
</ng-template>
